<!DOCTYPE html>
<html>
  <head>
    <title>Job Applicants Report</title>
  </head>
  <body>
    <div>
      <table>
        <thead>
          <tr>
            <th>Job</th>
            <th>Applicant Name</th>
            <th>Email Address</th>
            <th>Website</th>
            <th>Skills</th>
            <th>Cover Letter Paragraph</th>
          </tr>
        </thead>

        <tbody>
          <% @jobs.each do |job| %>
            <tr>
              <td rowspan="<%=job.row_span%>"><%= job.name %></td>
              <% job.applicants.each do |applicant| %>
                
                    <td rowspan="<%=applicant.span%>"><%= applicant.name%></td>
                    <td rowspan="<%=applicant.span%>"><a href="mailto:<%= applicant.email %>"><%= applicant.email %></a></td>
                    <td rowspan="<%=applicant.span%>"><a href="http://<%= applicant.website %>/"><%= applicant.website %></td>
                    <td>
                      <%= applicant.first_skill.name %>
                    </td>
                    <td rowspan="<%=applicant.span%>"><%= applicant.cover_letter %></td>
            </tr>
                  <% applicant.additional_skills.each do |skill| %>
                    <tr>
                      <td><%= skill.name %></td>
                    </tr>
                  <% end %>
                 
              <% end %>
              
          <% end %>

        </tbody>

        <tfooter>
          <tr>
            <td>8 Applicants, 11 Unique Skills</td>
          </tr>
        </tfooter>
      </table>
    </div>
  </body>
</html>
